<mat-card>
  <mat-card-title>Условия использования</mat-card-title>
  <mat-card-content>
    <h2>1. Введение</h2>
    <p>Эти Условия использования регулируют ваш доступ и использование веб-сайта. Пожалуйста, внимательно прочтите эти Условия перед использованием сайта.</p>

    <h2>2. Авторские права и интеллектуальная собственность</h2>
    <p>Весь контент на сайте, включая тексты, графику, логотипы, иконки, изображения и программное обеспечение, является собственностью Шевчук Юрий Викторовича и защищен законами об авторских правах.</p>

    <h2>3. Ограничения использования</h2>
    <p>Пользователям сайта запрещается:</p>
    <ul>
      <li>Копировать или распространять материалы с сайта без письменного разрешения Шевчука Юрия Викторовича.</li>
      <li>Использовать сайт или его содержимое в любых незаконных целях.</li>
    </ul>

    <h2>4. Отказ от ответственности</h2>
    <p>Материалы на сайте предоставляются "как есть" без каких-либо гарантий. Шевчук Юрий Викторович не несет ответственности за любые прямые или косвенные убытки, возникшие в результате использования сайта.</p>

  </mat-card-content>
</mat-card>
