<div class="settings-form">
  <h2>Настройки</h2>
  <form  [formGroup]="form" (submit)="saveSettings()">
    <mat-form-field appearance="fill">
      <mat-label>Source Connection String</mat-label>
      <input matInput placeholder="Source Connection String" name="source_connection_string" formControlName="sourceConnectionString" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose source DB type</mat-label>
      <mat-select name="source_database_type" formControlName="sourceDatabaseType" required>
        <mat-option value="Oracle">Oracle</mat-option>
        <mat-option value="MsSql">MsSql</mat-option>
        <mat-option value="MySql">MySql</mat-option>
        <mat-option value="PostgresSql">PostgresSql</mat-option>
        <mat-option value="MongoDb">MongoDb</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Remote Connection String</mat-label>
      <input matInput placeholder="Remote Connection String" name="remote_connection_string" formControlName="destinationConnectionString" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose remote DB type</mat-label>
      <mat-select name="remote_database_type" formControlName="destinationDatabaseType" required>
        <mat-option value="Oracle">Oracle</mat-option>
        <mat-option value="MsSql">MsSql</mat-option>
        <mat-option value="MySql">MySql</mat-option>
        <mat-option value="PostgresSql">PostgresSql</mat-option>
        <mat-option value="MongoDb">MongoDb</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Сохранить</button>
  </form>
</div>
