/*.container {*/
/*  padding: 20px;*/
/*  font-family: Tahoma, Geneva, sans-serif;*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  justify-content: space-between;*/
/*}*/

/*#migrationButton {*/
/*  background-color: #535b63;*/
/*  color: #ffffff;*/
/*  padding: 10px;*/
/*  text-align: center;*/
/*  text-decoration: none;*/
/*  width: 20%;*/
/*  margin: 20px auto;*/
/*}*/

/*!* Настройка стиля для таблицы *!*/
/*.mat-table {*/
/*  width: 48%;*/
/*  border-collapse: collapse;*/
/*  text-align: left;*/
/*  margin-bottom: 20px;*/
/*}*/

/*.mat-header-cell, .mat-cell {*/
/*  padding: 10px;*/
/*  border-bottom: 1px solid #dddddd;*/
/*}*/

/*.mat-header-cell {*/
/*  background-color: #535b63;*/
/*  color: #ffffff;*/
/*}*/



/*.container {*/
/*  padding: 20px;*/
/*  font-family: Tahoma, Geneva, sans-serif;*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  justify-content: space-between;*/
/*}*/

/*.mat-table {*/
/*  flex-grow: 1;*/
/*  width: 48%;*/
/*  border-collapse: collapse;*/
/*  margin-bottom: 20px;*/
/*}*/

/*.mat-table:first-child {*/
/*  margin-right: 1%;*/
/*}*/

/*.mat-header-cell, .mat-cell {*/
/*  padding: 10px;*/
/*  border-bottom: 1px solid #dddddd;*/
/*  text-align: start; !* Изменение здесь *!*/
/*}*/

/*.mat-header-cell {*/
/*  background-color: #535b63;*/
/*  color: #ffffff;*/
/*}*/


/*.container {*/
/*  padding: 30px;*/
/*  font-family: Tahoma, Geneva, sans-serif;*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  justify-content: space-between;*/
/*}*/

/*.mat-table {*/
/*  flex-grow: 1;*/
/*  width: calc(100% - 5px);*/
/*  border-collapse: collapse;*/
/*  margin-bottom: 20px;*/
/*}*/

/*.mat-table:first-child {*/
/*  margin-right: 10px;*/
/*}*/

/*.mat-header-cell, .mat-cell {*/
/*  padding: 20px;*/
/*  border-bottom: 1px solid #dddddd;*/
/*  text-align: start;*/
/*}*/

/*.mat-header-cell {*/
/*  background-color: #535b63;*/
/*  color: #ffffff;*/
/*}*/
/*.error-message {*/
/*  color: #b71c1c;*/
/*  background-color: #ffcdd2;*/
/*  padding: 20px;*/
/*  border-radius: 5px;*/
/*  text-align: center;*/
/*  font-size: 18px;*/
/*  margin: 20px 0;*/
/*}*/

.container {
  display: flex;
  justify-content: space-between;
}

.settings, .migration, .last-migration {
  flex-basis: 30%;
}

mat-card {
  margin: 20px;
}

button {
  margin-top: 10px;
}
