<div class="register-form">
  <h2>Регистрация</h2>
  <form [formGroup]="form" (ngSubmit)="registration()">
    <mat-form-field appearance="fill" class="register-field">
      <mat-label>Логин</mat-label>
      <input matInput formControlName="username" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="register-field">
      <mat-label>Пароль</mat-label>
      <input matInput type="password" formControlName="password" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="register-field">
      <mat-label>Подтверждение пароля</mat-label>
      <input matInput type="password" formControlName="confirmPassword" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" class="register-button">Регистрация</button>
    <a mat-button routerLink="/login" class="login-button">Вход</a>
  </form>
</div>
