<h2 >Журнал миграций</h2>
<mat-card class="page-with-paginator">
  <mat-card-content>
    <div class="migration-container" *ngFor="let migration of pagedData">
      <div class="migration-card">
        <div class="card-content">
          <div class="progress-spinner-container">
            <mat-progress-spinner
              mode="determinate"
              [value]="migration?.migrationProgressPercentage || 0"
              diameter="100">
            </mat-progress-spinner>
            <div class="progress-percentage">{{ migration?.migrationProgressPercentage || 0 }}%</div> <!-- Текст процента внутри спиннера -->
          </div>
          <div class="migration-info">
            <p><strong>Статус:  </strong>{{ migration?.migrationStatus }}</p>
            <p><strong>Всего записей:</strong> {{ migration?.totalRecordsForMigration }}</p>
            <p><strong>Импортировано записей:</strong> {{ migration?.currentRecordsCount }}</p>
            <p><strong>Прошедшее время:</strong> {{ migration?.migrationDuration }}</p>
          </div>
        </div>
        <div class="migration-actions">
          <button mat-button color="warn" [disabled]="!isMigrationRunning">Отменить миграцию</button>
          <button (click)="downloadLog(migration?.migrationId)" mat-button>Скачать логи</button>

        </div>
      </div>
    </div>
    <mat-paginator [length]="migrationData.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
  </mat-card-content>
</mat-card>
